<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/title.png" alt="{{ site.title }}" />
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="menu">
        {% for page in site.header.pages %}
          {% assign page_link = site.baseurl | append: "/" | append: page.name | downcase %}
          <a class="page-link" href="{{ page_link }}">
            {{- page.name -}}
          </a>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
