@font-face {
  font-family: "Dana2";
  src: url("/src/font/dana-regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Dana2", sans-serif;
}
.indigo {
  height: 57px;
}
.indigo {
  box-shadow: 1px 1px 3px #3f51b5;
}
.nav-wrapper a {
  margin-top: -1px;
  background-color: transparent !important;
}

/* home */
.container header .head_name h1 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.container header .head_name h1 #specialist {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 13px;
  background-color: #3f51b5;
  color: white;
  border-radius: 3px;
  position: relative;
  top: -5px;
}
.container header .head_name p {
  font-size: 12px;
  font-weight: 500;
  color: black;
}
.container header .head_name .link_personal {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  margin: 16px 0;
  align-items: center;
  color: #000;
}

.container header .head_name .link_personal .hire_me {
  padding: 6px 15px;
  background-color: #3f51b5;
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container header .head_name .link_personal .hire_me:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.container header .head_name .link_personal .talk {
  text-decoration: none;
  color: #000;
  display: flex;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  box-sizing: border-box;
}
/* ------------------
  Ukuran smartphone
--------------------- */
@media only screen and (max-width: 767px) {
  .nav-wrapper a {
    margin-top: 2px;
  }
  .container header .head_name h1 #specialist {
    font-size: 14px;
  }
  .container header .head_name .link_personal {
    justify-content: center;
    align-items: center;
  }
}

/*-------------------
  Ukuran tablet 
---------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Aturan CSS untuk ukuran tablet */
}
