@font-face {
  font-family: "Dana2";
  src: url("/src/font/dana-regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Dana2", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
.indigo {
  height: 57px;
}
.indigo {
  box-shadow: 1px 1px 3px #3f51b5;
}

.nav-wrapper a {
  margin-top: -1px;
  background-color: transparent !important;
}

/* home */
.container header {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 176px);
}
.container header .head_name h1 {
  margin-top: 80px;
  font-size: 45px;
  font-weight: 700;
  color: black;
}
.container header .head_name h1 #specialist {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 13px;
  background-color: #3f51b5;
  color: white;
  border-radius: 3px;
  position: relative;
  top: -5px;
}
.container header .desc {
  margin-top: -20px;
}
.container header .head_name p {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.container header .head_name .link_personal {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  margin: 16px 0;
  align-items: center;
  color: #000;
}

.container header .head_name .link_personal .hire_me {
  font-size: 14px;
  padding: 6px 15px;
  background-color: #3f51b5;
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container header .head_name .link_personal .hire_me:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.container header .head_name .link_personal .talk {
  text-decoration: none;
  color: #000;
  display: flex;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  box-sizing: border-box;
}
.container header .head_name .contact_email {
  display: flex;
}
.container header .head_name .contact_email div {
  margin-right: 20px;
}
.container header .head_name .contact_email div h5 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.container header .head_name .contact_email div p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.container header .head_name .contact_email div a {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.container header .head_name .contact_email div a:hover {
  color: #3f51b5;
}
.container header .head_photo {
  margin-top: 80px;
  width: 334px;
  height: 290px;
  background-image: url(/src/img/banner.png);
  background-size: cover;
  border: 2px solid #3f51b5;
  border-radius: 5px;
}
/* content */
.container main section h1 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.container main section {
  padding-top: 90px;
  margin-bottom: 40px;
}
.container main #about .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.container main #about .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #3f51b5;
  margin-right: 21px;
}

.container main #about .description_section {
  display: grid;
  grid-template-areas: "desc desc" "skill listskill";
  grid-template-columns: 100px auto;
  align-items: start;
  column-gap: 20px;
  padding-left: 90px;
}

.container main #about .description_section p {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin: 20px 0;
  grid-area: desc;
}
.container main #about .description_section h1,
.container main #about .description_section ul li {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main #about .description_section h1 {
  grid-area: skill;
}

.container main #about .description_section ul {
  list-style: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-area: listskill;
}
.container main #about .description_section ul li {
  background-color: #3f51b5;
  padding: 2px 10px;
  color: white;
  border-radius: 3px;
}
.container main #experience .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #experience .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #3f51b5;
  margin-right: 21px;
}
.container main #experience .description_section {
  padding-left: 90px;
  display: grid;
  grid-template-areas: "education experience";
  grid-template-columns: repeat(auto-fit, 1fr);
}

.container main #experience .description_section .education {
  grid-area: education;
}
.container main #experience .description_section .education h6 {
  font-size: 16px;
  font-weight: 800;
  color: #000;
}
.container main #experience .description_section .education p {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.container main #experience .description_section .education p span {
  opacity: 0.5;
}
.container main #experience .description_section .education > h6 {
  margin: 15px 0;
}
.container main #experience .description_section .education ul {
  position: relative;
}

.container main #experience .description_section .education ul li {
  padding-left: 20px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.container main #experience .description_section .education ul li > span {
  position: absolute;
  padding: 2px;
  top: -3px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3f51b5;
}
.container
  main
  #experience
  .description_section
  .education
  ul
  li
  > span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
.container main #experience .description_section .experience {
  grid-area: experience;
}
.container main #experience .description_section .experience h6 {
  font-size: 16px;
  font-weight: 800;
  color: #000;
}
.container main #experience .description_section .experience p {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.container main #experience .description_section .experience p span {
  opacity: 0.5;
}
.container main #experience .description_section .experience > h6 {
  margin: 15px 0;
}
.container main #experience .description_section .experience ul {
  position: relative;
}

.container main #experience .description_section .experience ul li {
  padding-left: 20px;
  position: relative;
  list-style: none;
  margin-bottom: 20px;
}
.container main #experience .description_section .experience ul li > span {
  position: absolute;
  padding: 2px;
  top: -3px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3f51b5;
}
.container
  main
  #experience
  .description_section
  .experience
  ul
  li
  > span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
.container main #certification .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #certification .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #3f51b5;
  margin-right: 21px;
}
.container main #certification .description_section {
  margin-top: 52px;
  padding-left: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container main #certification .description_section .card {
  height: 173px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}
.container main #certification .description_section .card .card_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  height: 40%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container main #certification .description_section .card .card_detail .judul {
  font-size: 14px;
  font-weight: 7800;
}
.container main #certification .description_section .card .card_detail .from {
  font-size: 10px;
  font-weight: 500;
  opacity: 75%;
}
.container main #certification .description_section .card:hover .card_detail {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}

.container main #certification .description_section .card.one {
  background-image: url(../img/certification1.jpg);
}
.container main #certification .description_section .card.two {
  background-image: url(../img/certification2.jpg);
}
.container main #portfolio .tittle_section {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.container main #portfolio .tittle_section span {
  width: 69px;
  height: 10px;
  background-color: #3f51b5;
  margin-right: 21px;
}
.container main #portfolio .description_section {
  margin-top: 52px;
  padding-left: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container main #portfolio .description_section .card {
  height: 173px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  display: flex;
  align-items: flex-end;
}
.container main #portfolio .description_section .card .card_detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  height: 40%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.container main #portfolio .description_section .card .card_detail .judul {
  font-size: 14px;
  font-weight: bold;
}
.container main #portfolio .description_section .card .card_detail .from {
  font-size: 10px;
  font-weight: 500;
  opacity: 75%;
}
.container main #portfolio .description_section .card:hover .card_detail {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}
.container main #portfolio .description_section .one {
  background-image: url(../img/mallexibra.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .two {
  background-image: url(../img/IB-Software.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .three {
  background-image: url(../img/bookself.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .four {
  background-image: url(../img/bikinweb.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .five {
  background-image: url(../img/todolist.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .six {
  background-image: url(../img/linktree.png);
  background-size: cover;
  background-position: 0;
}
.container main #portfolio .description_section .description-card {
  display: none;
  font-size: 10px;
}
.container main #portfolio .description_section .card:hover .description-card {
  display: block;
}

.container main #portfolio .description_section .type {
  width: max-content;
  font-size: 10px;
  font-weight: bold;
  padding: 0 2px;
  border-radius: 3px;
  color: white;
  background-color: #3f51b5;
}
.container main #find_me h1 {
  font-size: 16px;
  font-weight: 700;
  width: max-content;
  margin: auto;
  position: relative;
}
.container main #find_me h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  right: -5px;
  height: 10px;
  background-color: #3f51b5;
  z-index: -1;
}
.container main #find_me ul {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 10px;
  list-style: none;
}
.container main #find_me ul a:hover {
  filter: brightness(200%);
}
.container main #find_me ul a:hover img {
  transform: scale(1.2);
}

/* footer */
footer {
  height: 400px;
  background-color: #f6f6f2;
}
footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3f51b5;
}

footer .container .footer_left {
  width: 40%;
  margin-bottom: -100px;
}
footer .container .footer_left h2 {
  font-size: 40px;
  font-weight: 700;
}
footer .container .footer_left p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 7px;
}
footer .container .footer_right {
  width: 40%;
  margin-top: 105px;
}
footer .container .footer_right p {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}
footer .container .footer_right iframe {
  border-radius: 3px;
  border: 1px solid #3f51b5;
  position: relative;
}

/* ------------------
  Ukuran smartphone
--------------------- */
@media only screen and (max-width: 767px) {
  /* home */
  .container header {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .container header .head_name {
    width: 340px;
    margin-top: -50px;
    margin-left: auto;
  }
  .nav-wrapper a {
    margin-top: 2px;
  }
  .container header .head_name h1 #specialist {
    font-size: 14px;
  }
  .container header .head_name .link_personal {
    justify-content: center;
    align-items: center;
  }
  .container header .head_photo {
    margin-top: 20px;
  }

  /* content */
  .container main #about .description_section {
    padding: 0 10px;
    grid-template-areas: "desc" "skill" "listskill";
    grid-template-columns: auto;
  }
  .container main #about .description_section h1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .container main #experience .description_section {
    padding: 0 10px;
    grid-template-areas: "education" "experience";
    justify-content: center;
  }
  .container main #portfolio .description_section {
    padding: 0 10px;
  }
  .container main #certification .description_section {
    padding: 0 10px;
  }

  /* footer */
  footer {
    height: 500px;
  }
  footer .container {
    padding: 0 10px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  footer .container .footer_left {
    width: 90%;
    margin: 10px auto 0 auto;
  }
  footer .container .footer_right {
    width: 90%;
    margin: 0 auto 50px auto;
  }
  footer .container .footer_right iframe {
    width: 300px;
    margin-left: -12px;
  }
}

/*-------------------
  Ukuran tablet 
---------------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Aturan CSS untuk ukuran tablet */
}
