@font-face {
  font-family: "Dana2";
  src: url("/src/font/dana-regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Dana2", sans-serif;
}

.indigo {
  box-shadow: 1px 1px 3px #3f51b5;
}
.nav-wrapper a {
  background-color: transparent !important;
}

/*------------------------
  MOBILE VERSION
-------------------------- */
@media (max-width: 600px) {
}
